
<div class="flex gap-28 items-center">
  <div class="w-1/2 flex gap-8">
    <div class="relative">
      <img
        class="absolute left-[-18px] top-[28px]"
        src="/images/shape-05.svg"
        alt="About image"
      />
      <img class="mb-8" src="/images/about-01.png" alt="About image" />
      <img src="/images/about-02.png" alt="About image" />
    </div>

    <div>
      <img src="/images/shape-06.svg" alt="About image" />
      <img class="mt-7 mb-5" src="/images/about-03.png" alt="About image" />
      <img src="/images/shape-07.svg" alt="About image" />
    </div>
  </div>
  <div class="w-1/2">
    <h2>Why Choose Us</h2>
    <h1 class="dark:text-white">
      We Make Our customers happy by giving Best services
    </h1>
    <p class="w-[95%]">
      It is a long established fact that a reader will be distracted by the
      readable content of a page when looking at its layout. The point of using
      Lorem Ipsum.
    </p>
    <a
      class="text-lg text-heading dark:text-blue-500 mt-[2.5rem] flex items-center gap-7 w-fit"
      data-fslightbox="gallery"
      href="https://www.youtube.com/watch?v=ekr2nIex040"
    >
      <div class="relative">
        <!-- Icon Ping -->
        <img
          src="/images/icon-play.svg"
          alt="Play Icon Ping"
          class="absolute left-0 top-0 btn-blue animate-ping"
        />
        <!-- Icon Chính -->
        <img src="/images/icon-play.svg" alt="Play Icon" class="btn-blue" />
      </div>
      SEE HOW WE WORK
    </a>
  </div>
</div>
