<!-- title blog -->
<div class="mb-14 text-center">
  <h1 class="mx-auto w-1/2 font-semibold dark:text-white">
    Latest Blogs & News
  </h1>
  <p class="mx-auto w-[46%]">
    It is a long established fact that a reader will be distracted by the
    readable content of a page when looking at its layout. The point of using.
  </p>
</div>
<!-- blog content -->
<div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
  <!-- Card 1 -->
  <div
    class="card__shadow dark:bg-backgroudOfDark overflow-hidden rounded-lg bg-white"
  >
    <div class="group relative overflow-hidden">
      <img src="/images/blog-01.png" alt="Image blog" class="w-full" />
      <div
        class="absolute left-0 top-0 flex h-full w-full translate-y-full items-center justify-center rounded-t-lg backdrop-blur transition-all duration-500 group-hover:translate-y-0"
      >
        <a href="#">
          <span
            class="rounded-full bg-primary px-8 py-4 text-white transition-all duration-300 hover:bg-pink"
            >Read More</span
          >
        </a>
      </div>
    </div>
    <div class="dark:bg-backgroudOfDark p-[1.875rem]">
      <div class="flex items-center gap-4">
        <div class="flex items-center gap-2">
          <i class="ri-user-3-line text-lg"></i>
          <p class="text-lg">Musharof Chy</p>
        </div>
        <div class="flex items-center gap-2">
          <i class="ri-calendar-line text-lg"></i>
          <p class="text-lg">5 Dec, 2025</p>
        </div>
      </div>
      <a href="#">
        <h3 class="mt-[0.75rem] transition-all duration-300 hover:text-primary">
          Free advertising for your online business
        </h3>
      </a>
    </div>
  </div>

  <!-- Card 2 -->
  <div
    class="card__shadow dark:bg-backgroudOfDark overflow-hidden rounded-lg bg-white"
  >
    <div class="group relative overflow-hidden">
      <img src="/images/blog-02.png" alt="Image blog" class="w-full" />
      <div
        class="absolute left-0 top-0 flex h-full w-full translate-y-full items-center justify-center rounded-t-lg backdrop-blur transition-all duration-500 group-hover:translate-y-0"
      >
        <a href="#">
          <span
            class="rounded-full bg-primary px-8 py-4 text-white transition-all duration-300 hover:bg-pink"
            >Read More</span
          >
        </a>
      </div>
    </div>
    <div class="dark:bg-backgroudOfDark p-[1.875rem]">
      <div class="flex items-center gap-4">
        <div class="flex items-center gap-2">
          <i class="ri-user-3-line text-lg"></i>
          <p class="text-lg">Musharof Chy</p>
        </div>
        <div class="flex items-center gap-2">
          <i class="ri-calendar-line text-lg"></i>
          <p class="text-lg">5 Dec, 2025</p>
        </div>
      </div>
      <a href="#">
        <h3 class="mt-[0.75rem] transition-all duration-300 hover:text-primary">
          9 simple ways to improve your design skills
        </h3>
      </a>
    </div>
  </div>

  <!-- Card 3 -->
  <div
    class="card__shadow dark:bg-backgroudOfDark overflow-hidden rounded-lg bg-white"
  >
    <div class="group relative overflow-hidden">
      <img src="/images/blog-03.png" alt="Image blog" class="w-full" />
      <div
        class="absolute left-0 top-0 flex h-full w-full translate-y-full items-center justify-center rounded-t-lg backdrop-blur transition-all duration-500 group-hover:translate-y-0"
      >
        <a href="#">
          <span
            class="rounded-full bg-primary px-8 py-4 text-white transition-all duration-300 hover:bg-pink"
            >Read More</span
          >
        </a>
      </div>
    </div>
    <div class="dark:bg-backgroudOfDark p-[1.875rem]">
      <div class="flex items-center gap-4">
        <div class="flex items-center gap-2">
          <i class="ri-user-3-line text-lg"></i>
          <p class="text-lg">Musharof Chy</p>
        </div>
        <div class="flex items-center gap-2">
          <i class="ri-calendar-line text-lg"></i>
          <p class="text-lg">5 Dec, 2025</p>
        </div>
      </div>
      <a href="#">
        <h3 class="mt-[0.75rem] transition-all duration-300 hover:text-primary">
          Tips to quickly improve your coding speed
        </h3>
      </a>
    </div>
  </div>
</div>
