<img
  src="/images/shape-11.svg"
  alt="Shape"
  class="spin-slow absolute bottom-[3%] left-[3%] w-[3.625rem]"
/>
<img
  src="/images/shape-07.svg"
  alt="Shape"
  class="absolute right-[2%] top-[6%] w-[5.25rem] rotate-90"
/>
<img
  src="/images/shape-14.svg"
  alt="Shape"
  class="absolute left-[35%] top-[1%]"
/>
<img src="/images/shape-15.svg" alt="Shape" class="absolute bottom-0 right-0" />

<div class="container px-[9.125rem]">
  <div class="flex items-center justify-between">
    <div class="flex flex-col items-center justify-center">
      <h2 class="heading__count">785</h2>
      <p class="text-lg font-medium">Global Brands</p>
    </div>
    <div class="flex flex-col items-center justify-center">
      <h2 class="heading__count">533</h2>
      <p>Happy Clients</p>
    </div>
    <div class="flex flex-col items-center justify-center">
      <h2 class="heading__count">865</h2>
      <p class="text-lg font-medium">Winning Award</p>
    </div>
    <div class="flex flex-col items-center justify-center">
      <h2 class="heading__count">346</h2>
      <p class="text-lg font-medium">Happy Clients</p>
    </div>
  </div>
</div>
