<img
  src="/images/shape-11.svg"
  alt="Shape"
  class="spin-slow absolute bottom-[3%] left-[3%] w-[3.625rem]"
/>
<img
  src="/images/shape-07.svg"
  alt="Shape"
  class="absolute right-[2%] top-[6%] w-[5.25rem] rotate-90"
/>
<img
  src="/images/shape-14.svg"
  alt="Shape"
  class="absolute left-[35%] top-[1%]"
/>
<img src="/images/shape-15.svg" alt="Shape" class="absolute bottom-0 right-0" />

<div class="container lg:px-[9.125rem]">
  <div class="grid grid-cols-2 gap-6 lg:flex lg:flex-row lg:justify-between">
    <div class="flex flex-col items-center justify-center">
      <h2 class="heading__count dark:text-white">785</h2>
      <p class="text-base font-medium lg:text-lg">Global Brands</p>
    </div>
    <div class="flex flex-col items-center justify-center">
      <h2 class="heading__count dark:text-white">533</h2>
      <p>Happy Clients</p>
    </div>
    <div class="flex flex-col items-center justify-center">
      <h2 class="heading__count dark:text-white">865</h2>
      <p class="text-base font-medium lg:text-lg">Winning Award</p>
    </div>
    <div class="flex flex-col items-center justify-center">
      <h2 class="heading__count dark:text-white">346</h2>
      <p class="text-base font-medium lg:text-lg">Happy Clients</p>
    </div>
  </div>
</div>
