<img
  class="absolute right-0 top-0 h-full w-full object-cover"
  src="/images/shape-16.svg"
  alt="Bg Shape"
/>
<div class="container relative px-5">
  <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
    <div class="">
      <h5 class="mb-4 font-outfit text-[45px] leading-[55px] text-white">
        Join with 5000+ Startups Growing with Base.
      </h5>
      <p class="text-white">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis nibh
        lorem. Duis sed odio lorem. In a efficitur leo. Ut venenatis rhoncus.
      </p>
    </div>
    <div class="flex items-center justify-end">
      <a
        href="#"
        class="text-md rounded-full bg-white px-[1.875rem] py-4 font-medium text-heading duration-300 hover:shadow-xl"
      >
        Get Started Now
      </a>
    </div>
  </div>
</div>
