<div class="container">
  <!-- Footer top -->
  <div class="border-b border-gray-300 py-[6.25rem]">
    <div class="flex items-center justify-between">
      <div class="w-1/4">
        <a href="#">
          <img
            src="/images/logo-light.svg"
            alt="Logo image"
            class="block dark:hidden"
          />
          <img
            src="/images/logo-dark.svg"
            alt="Logo image"
            class="hidden dark:block"
          />
        </a>

        <p class="mb-10 mt-5">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>

        <ul class="flex items-center gap-5">
          <li>
            <a href="#" class="text-2xl text-gray-300 hover:text-primary">
              <i class="ri-facebook-fill"></i>
            </a>
          </li>
          <li>
            <a
              href="#"
              class="text-2xl text-gray-300 duration-300 hover:text-primary"
            >
              <i class="ri-twitter-fill"></i>
            </a>
          </li>
          <li>
            <a
              href="#"
              class="text-2xl text-gray-300 duration-300 hover:text-primary"
            >
              <i class="ri-linkedin-fill"></i>
            </a>
          </li>
          <li>
            <a
              href="#"
              class="text-2xl text-gray-300 duration-300 hover:text-primary"
            >
              <i class="ri-behance-fill"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="flex w-[70%] justify-between">
        <div>
          <h4 class="mb-9 text-2xl">Quick Links</h4>
          <ul>
            <li class="mb-[0.75rem]">
              <a href="#" class="duration-300 hover:text-primary">Home</a>
            </li>
            <li class="mb-[0.75rem]">
              <a href="#" class="duration-300 hover:text-primary">Product</a>
            </li>
            <li class="mb-[0.75rem]">
              <a href="#" class="duration-300 hover:text-primary">
                Careers
                <span
                  class="ml-4 rounded-full bg-[#31c48d] px-[0.75rem] py-[0.125rem] text-xs font-medium text-white"
                  >Hiring</span
                >
              </a>
            </li>
            <li class="mb-[0.75rem]">
              <a href="#" class="duration-300 hover:text-primary">Pricing</a>
            </li>
          </ul>
        </div>
        <div>
          <h4 class="mb-9 text-2xl">Services</h4>
          <ul>
            <li class="mb-[0.75rem]">
              <a href="#" class="duration-300 hover:text-primary"
                >Web Development</a
              >
            </li>
            <li class="mb-[0.75rem]">
              <a href="#" class="duration-300 hover:text-primary"
                >Graphics Design</a
              >
            </li>
            <li class="mb-[0.75rem]">
              <a href="#" class="duration-300 hover:text-primary"
                >Digital Marketing</a
              >
            </li>
            <li class="mb-[0.75rem]">
              <a href="#" class="duration-300 hover:text-primary"
                >Ui/UX Design</a
              >
            </li>
          </ul>
        </div>

        <div>
          <h4 class="mb-9 text-2xl">Support</h4>
          <ul>
            <li class="mb-[0.75rem]">
              <a href="#" class="duration-300 hover:text-primary">Company</a>
            </li>
            <li class="mb-[0.75rem]">
              <a href="#" class="duration-300 hover:text-primary"
                >Press media</a
              >
            </li>
            <li class="mb-[0.75rem]">
              <a href="#" class="duration-300 hover:text-primary">Our Blog</a>
            </li>
            <li class="mb-[0.75rem]">
              <a href="#" class="duration-300 hover:text-primary">Contact Us</a>
            </li>
          </ul>
        </div>

        <div>
          <h4 class="mb-9 text-2xl">Newsletter</h4>
          <p class="mb-4 w-[90%]">Subscribe to receive future updates</p>
          <form>
            <div class="relative">
              <input
                type="email"
                placeholder="Email address"
                class="w-full rounded-full border-gray-300 px-6 py-[0.75rem] placeholder:text-gray-300 focus:ring-0"
              />
              <button
                class="absolute right-0 top-[1px] px-4 py-2 text-2xl duration-300 hover:text-primary"
              >
                <i class="ri-send-plane-2-line"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer bot -->
  <div class="flex items-center justify-between py-[1.875rem]">
    <div>
      <ul class="flex items-center gap-8">
        <li>
          <a href="#" class="duration-300 hover:text-primary">English</a>
        </li>
        <li>
          <a href="#" class="duration-300 hover:text-primary">Privacy Policy</a>
        </li>
        <li>
          <a href="#" class="duration-300 hover:text-primary">Support</a>
        </li>
      </ul>
    </div>
    <div>
      <p>© 2025 Base. All rights reserved</p>
    </div>
  </div>
</div>
