<!-- Hero image -->
<div class="absolute w-[38rem] top-0 right-0">
  <img src="/images/hero.png" alt="Hero" class="absolute left-0 right-0" />
  <img src="/images/shape-04.svg" alt="Hero" />
  <img
    src="/images/shape-01.svg"
    alt="Hero"
    class="absolute bottom-72 -left-20 lg:hidden"
  />
  <img
    src="/images/shape-03.svg"
    alt="Hero"
    class="absolute bottom-[32px] left-[166px] lg:hidden"
  />
  <img
    src="/images/shape-02.svg"
    alt="Hero"
    class="absolute bottom-0 right-[170px] lg:hidden"
  />
</div>

<!-- Hero content -->
<div class="container">
  <div class="w-[36rem]">
    <h2 class="text-4xl text-heading font-extrabold dark:text-white">
      We specialize in UI/UX, Web <br />
      Development, Digital Marketing
    </h2>
    <p class="my-4 text-lg text-gray-500">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque fringilla
      magna mauris. Nulla fermentum viverra sem eu rhoncus consequat varius nisi
      quis, posuere magna.
    </p>
    <div class="flex gap-8">
      <button
        type="button"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Get Started Now
      </button>
      <div>
        <a
          class="text-xl font-medium leading-none tracking-tight text-gray-900 md:text-5xl lg:text-xl dark:text-white"
          href="#"
        >
          Call us (0123) 456 – 789
        </a>
        <p
          class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400"
        >
          For any question or concern
        </p>
      </div>
    </div>
  </div>
</div>
