<!-- Pricing background -->
<img
  src="/images/shape-06.svg"
  alt="Pricing image"
  class="absolute top-[5%] left-[10%]"
/>
<img
  src="/images/shape-03.svg"
  alt="Pricing image"
  class="absolute top-[25%] right-[20%]"
/>
<img
  src="/images/shape-07.svg"
  alt="Pricing image"
  class="absolute bottom-[10%] right-[5%] w-[6.25rem]"
/>
<img
  src="/images/shape-12.svg"
  alt="Pricing image"
  class="absolute left-0 top-0 h-full"
/>
<img
  src="/images/shape-13.svg"
  alt="Pricing image"
  class="absolute right-0 top-0"
/>
<!-- Pricing title -->
<div class="container">
  <div class="text-center">
    <h1 class="dark:text-white w-1/2 font-semibold mx-auto">
      We Offer Great Affordable Premium Prices
    </h1>
    <p class="w-[46%] mx-auto">
      It is a long established fact that a reader will be distracted by the
      readable content of a page when looking at its layout. The point of using.
    </p>
  </div>
  <!-- Pricing toggle -->
  <div class="mt-[3.125rem] flex gap-4 items-center justify-center">
    <span>Bill Monthly</span>
    <label class="inline-flex items-center cursor-pointer">
      <input type="checkbox" value="" class="sr-only peer" id="pricingToggle" />
      <div
        class="relative w-11 h-6 bg-primary rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-primary after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-primary"
      ></div>
    </label>
    <span>Bill Annually</span>
  </div>
  <!-- Pricing card -->
  <div class="mt-[3.75rem] max-[86.875rem] px-[5.25rem] relative">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-[2.5rem]">
      <!-- Starter Card -->
      <div
        class="bg-white rounded-lg card__shadow px-[1.875rem] pt-[2.75rem] pb-[2.5rem] text-center"
        data-card="starter"
      >
        <h4 class="mb-[2.5rem]">Starter</h4>

        <div class="flex items-center justify-center gap-2 mb-[0.375rem]">
          <p
            class="font-semibold text-[40px] leading-[42px] text-heading pricing__price"
          >
            $29
          </p>
          <span class="text-sm font-normal pricing__unit">/per month</span>
        </div>

        <p class="mb-[2.375rem]">No credit card required</p>
        <a
          href="#"
          class="bg-pink text-white py-[0.75rem] px-[3.25rem] rounded-full font-medium hover:bg-primary duration-300"
        >
          Try for free
        </a>
        <ul class="mt-[1.875rem] mb-[2.5rem] space-y-3">
          <li><p>400 GB Storage</p></li>
          <li><p>Unlimited Photos & Videos</p></li>
          <li><p>Exclusive Support</p></li>
        </ul>
        <p class="text-heading">7-day free trial</p>
      </div>

      <!-- Growth Plan Card -->
      <div
        class="bg-white rounded-lg card__shadow px-[1.875rem] pt-[2.75rem] pb-[2.5rem] text-center"
        data-card="growth"
      >
        <h4 class="mb-[2.5rem]">Growth Plan</h4>

        <div class="flex items-center justify-center gap-2 mb-[0.375rem]">
          <p
            class="font-semibold text-[40px] leading-[42px] text-heading pricing__price"
          >
            $59
          </p>
          <span class="text-sm font-normal pricing__unit">/per month</span>
        </div>

        <p class="mb-[2.375rem]">No credit card required</p>
        <a
          href="#"
          class="bg-primary text-white py-[0.75rem] px-[3.25rem] rounded-full font-medium hover:bg-pink duration-300"
        >
          Try for free
        </a>
        <ul class="mt-[1.875rem] mb-[2.5rem] space-y-3">
          <li><p>400 GB Storage</p></li>
          <li><p>Unlimited Photos & Videos</p></li>
          <li><p>Exclusive Support</p></li>
        </ul>
        <p class="text-heading">7-day free trial</p>
      </div>

      <!-- Business Card -->
      <div
        class="bg-white rounded-lg card__shadow px-[1.875rem] pt-[2.75rem] pb-[2.5rem] text-center"
        data-card="business"
      >
        <h4 class="mb-[2.5rem]">Business</h4>

        <div class="flex items-center justify-center gap-2 mb-[0.375rem]">
          <p
            class="font-semibold text-[40px] leading-[42px] text-heading pricing__price"
          >
            $139
          </p>
          <span class="text-sm font-normal pricing__unit">/per month</span>
        </div>

        <p class="mb-[2.375rem]">No credit card required</p>
        <a
          href="#"
          class="bg-pink text-white py-[0.75rem] px-[3.25rem] rounded-full font-medium hover:bg-primary duration-300"
        >
          Try for free
        </a>
        <ul class="mt-[1.875rem] mb-[2.5rem] space-y-3">
          <li><p>400 GB Storage</p></li>
          <li><p>Unlimited Photos & Videos</p></li>
          <li><p>Exclusive Support</p></li>
        </ul>
        <p class="text-heading">7-day free trial</p>
      </div>
    </div>
  </div>
</div>
