<!-- title project -->
<div class="text-center mb-[3.125rem]">
  <h1 class="dark:text-white w-1/2 font-semibold mx-auto">
    We Offer Great Affordable Premium Prices
  </h1>
  <p class="w-[46%] mx-auto">
    It is a long established fact that a reader will be distracted by the
    readable content of a page when looking at its layout. The point of using.
  </p>
</div>
<!-- Tab projects -->
<nav
  class="flex justify-center items-center px-[0.625rem] py-[0.5rem] bg-white card__shadow rounded-full max-w-fit mx-auto mb-[4.375rem]"
>
  <div class="flex">
    <button data-filter="*" class="btn__tab__projects active">All</button>
    <button data-filter=".brand" class="btn__tab__projects">
      Branding Strategy
    </button>
    <button data-filter=".digital" class="btn__tab__projects">
      Digital Experiences
    </button>
    <button data-filter=".ecommerce" class="btn__tab__projects">
      Ecommerce
    </button>
  </div>
</nav>
<!-- Content grid -->
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3" id="projectsId">
  <!-- Card 1 -->
  <div class="projects__item brand ecommerce w-1/3 px-5 mb-10">
    <div class="relative group overflow-hidden">
      <img
        class="h-full w-full"
        src="/images/project-01.png"
        alt="Projects image 1"
      />
      <div
        class="w-full h-full absolute left-0 top-0 ease-linear duration-700 backdrop-blur bg-white/20 flex flex-col justify-center items-center translate-y-full group-hover:translate-y-0"
      >
        <span class="text-2xl mb-0.5">Photo Retouching</span>
        <p>Branded Ecommerce</p>
        <a
          class="transition-all duration-300 bg-transparent border rounded-full grid place-items-center w-10 h-10 group-hover:bg-primary group-hover:border-primary"
          href="#"
        >
          <i
            class="ri-arrow-right-line text-secondary group-hover:text-white"
          ></i>
        </a>
      </div>
    </div>
  </div>

  <!-- Card 2 -->
  <div class="projects__item digital w-1/3 px-5 mb-10">
    <div class="relative group overflow-hidden">
      <img
        class="h-full w-full"
        src="/images/project-02.png"
        alt="Projects image 2"
      />
      <div
        class="w-full h-full absolute left-0 top-0 ease-linear duration-700 backdrop-blur bg-white/20 rounded-lg flex flex-col justify-center items-center translate-y-full group-hover:translate-y-0"
      >
        <span class="text-2xl mb-0.5">Digital Design</span>
        <p>Creative Solutions</p>
        <a
          class="transition-all duration-300 bg-transparent border rounded-full grid place-items-center w-10 h-10 group-hover:bg-primary group-hover:border-primary"
          href="#"
        >
          <i
            class="ri-arrow-right-line text-secondary group-hover:text-white"
          ></i>
        </a>
      </div>
    </div>
  </div>

  <!-- Card 3 -->
  <div class="projects__item brand ecommerce w-1/3 px-5 mb-10">
    <div class="relative group overflow-hidden">
      <img
        class="h-full w-full"
        src="/images/project-04.png"
        alt="Projects image 3"
      />
      <div
        class="w-full h-full absolute left-0 top-0 ease-linear duration-700 backdrop-blur bg-white/20 rounded-lg flex flex-col justify-center items-center translate-y-full group-hover:translate-y-0"
      >
        <span class="text-2xl mb-0.5">Branding Strategy</span>
        <p>Corporate Branding</p>
        <a
          class="transition-all duration-300 bg-transparent border rounded-full grid place-items-center w-10 h-10 group-hover:bg-primary group-hover:border-primary"
          href="#"
        >
          <i
            class="ri-arrow-right-line text-secondary group-hover:text-white"
          ></i>
        </a>
      </div>
    </div>
  </div>

  <!-- Card 4 -->
  <div class="projects__item digital ecommerce w-2/3 px-5 mb-10">
    <div class="relative group overflow-hidden">
      <img
        class="h-full w-full"
        src="/images/project-03.png"
        alt="Projects image 4"
      />
      <div
        class="w-full h-full absolute left-0 top-0 ease-linear duration-700 backdrop-blur bg-white/20 rounded-lg flex flex-col justify-center items-center translate-y-full group-hover:translate-y-0"
      >
        <span class="text-2xl mb-0.5">Ecommerce Development</span>
        <p>Online Solutions</p>
        <a
          class="transition-all duration-300 bg-transparent border rounded-full grid place-items-center w-10 h-10 group-hover:bg-primary group-hover:border-primary"
          href="#"
        >
          <i
            class="ri-arrow-right-line text-secondary group-hover:text-white"
          ></i>
        </a>
      </div>
    </div>
  </div>
</div>
