<div class="text-center">
  <h1 class="dark:text-white w-1/2 font-semibold mx-auto">
    We Offer The Best Quality Service for You
  </h1>
  <p class="w-[46%] mx-auto">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In convallis tortor
    eros. Donec vitae tortor lacus. Phasellus aliquam ante in maximus.
  </p>
</div>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 px-[5.25rem] mt-5">
  <div class="p-[3.125rem] hover:services__shadow rounded-lg">
    <img src="/images/icon-04.svg" alt="Services image" />
    <h6 class="mt-[2.75rem] mb-[1.125rem]">Crafted for Startups</h6>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In convallis
      tortor.
    </p>
  </div>

  <div class="p-[3.125rem] hover:services__shadow rounded-lg">
    <img src="/images/icon-05.svg" alt="Services image" />
    <h6 class="mt-[2.75rem] mb-[1.125rem]">Crafted for Startups</h6>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In convallis
      tortor.
    </p>
  </div>

  <div class="p-[3.125rem] hover:services__shadow rounded-lg">
    <img src="/images/icon-06.svg" alt="Services image" />
    <h6 class="mt-[2.75rem] mb-[1.125rem]">Crafted for Startups</h6>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In convallis
      tortor.
    </p>
  </div>

  <div class="p-[3.125rem] hover:services__shadow rounded-lg">
    <img src="/images/icon-07.svg" alt="Services image" />
    <h6 class="mt-[2.75rem] mb-[1.125rem]">Crafted for Startups</h6>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In convallis
      tortor.
    </p>
  </div>

  <div class="p-[3.125rem] hover:services__shadow rounded-lg">
    <img src="/images/icon-05.svg" alt="Services image" />
    <h6 class="mt-[2.75rem] mb-[1.125rem]">Crafted for Startups</h6>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In convallis
      tortor.
    </p>
  </div>

  <div class="p-[3.125rem] hover:services__shadow rounded-lg">
    <img src="/images/icon-06.svg" alt="Services image" />
    <h6 class="mt-[2.75rem] mb-[1.125rem]">Crafted for Startups</h6>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In convallis
      tortor.
    </p>
  </div>
</div>
