<div class="animate-top text-center">
  <h1 class="mx-auto dark:text-white lg:w-1/2 lg:font-semibold">
    We Offer The Best Quality Service for You
  </h1>
  <p class="mx-auto lg:w-[46%]">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In convallis tortor
    eros. Donec vitae tortor lacus. Phasellus aliquam ante in maximus.
  </p>
</div>
<div
  class="mt-5 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 lg:px-[5.25rem]"
>
  <div
    class="hover:services__shadow animate-top-delay-200 rounded-lg p-[3.125rem]"
  >
    <img src="/images/icon-04.svg" alt="Services image" />
    <h6 class="mb-[1.125rem] mt-[2.75rem]">Crafted for Startups</h6>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In convallis
      tortor.
    </p>
  </div>

  <div
    class="hover:services__shadow animate-top-delay-300 rounded-lg p-[3.125rem]"
  >
    <img src="/images/icon-05.svg" alt="Services image" />
    <h6 class="mb-[1.125rem] mt-[2.75rem]">Crafted for Startups</h6>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In convallis
      tortor.
    </p>
  </div>

  <div
    class="hover:services__shadow animate-top-delay-400 rounded-lg p-[3.125rem]"
  >
    <img src="/images/icon-06.svg" alt="Services image" />
    <h6 class="mb-[1.125rem] mt-[2.75rem]">Crafted for Startups</h6>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In convallis
      tortor.
    </p>
  </div>

  <div
    class="hover:services__shadow animate-top-delay-500 rounded-lg p-[3.125rem]"
  >
    <img src="/images/icon-07.svg" alt="Services image" />
    <h6 class="mb-[1.125rem] mt-[2.75rem]">Crafted for Startups</h6>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In convallis
      tortor.
    </p>
  </div>

  <div
    class="hover:services__shadow animate-top-delay-600 rounded-lg p-[3.125rem]"
  >
    <img src="/images/icon-05.svg" alt="Services image" />
    <h6 class="mb-[1.125rem] mt-[2.75rem]">Crafted for Startups</h6>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In convallis
      tortor.
    </p>
  </div>

  <div
    class="hover:services__shadow animate-top-delay-700 rounded-lg p-[3.125rem]"
  >
    <img src="/images/icon-06.svg" alt="Services image" />
    <h6 class="mb-[1.125rem] mt-[2.75rem]">Crafted for Startups</h6>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In convallis
      tortor.
    </p>
  </div>
</div>
